{% extends "base.html" %}
{% load static %}

{% block content %}
    <a href="{% url 'Login' %}">Have an Account? Login Here</a>
    <h1>Create a Profile!</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <br>
        <label>Password: </label><input type="password" name="password">
        <br>
        <input type="email" name="email" placeholder="Email">
        <br>
        <input type="text" name="fullname" placeholder="Full Name">
        <br>
        <input type="text" name="bio" placeholder="Tell Me About Yourself">
        <br>
        <input type="text" name="city" placeholder="City">
        <br>
        <input type="text" name="country" placeholder="Country">
        <br>
        <label>Select Gender:</label>
        <select name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
            <option value="Something">Something</option>
        </select>
        <br>
        <input type="date" name="dob">
        <br>
        <input type="file" name="ppic">
        <br>
        <input type="submit" value="Create Profile">
    </form>
{% endblock %}